:root {
    --sn-stylekit-info-color: #F9837A;
    --font-primary: #000;
    --sn-stylekit-success-color: #90E850;
    --sn-stylekit-danger-color: #50DCE8;
    --sn-stylekit-warning-color: #A850E8;
}

@media (prefers-color-scheme: dark) {
:root {
    --sn-stylekit-info-color: #ff766b;
    --sn-stylekit-background-color:  #181818;
    --sn-stylekit-contrast-background-color: #121212;
    --sn-stylekit-secondary-background-color: #121212;
    --sn-stylekit-secondary-contrast-background-color: #222;
    --sn-stylekit-shadow-color: #222;
    --sn-stylekit-border-color: #121212;
    --sn-stylekit-contrast-border-color: #121212;
    --font-primary: #fff;
    --sn-stylekit-foreground-color: #fff;
    --sn-stylekit-editor-foreground-color: #fff;
    --sn-stylekit-contrast-foreground-color: #e3e3e3;
    --sn-stylekit-secondary-foreground-color: #e3e3e3;
}
}

/* Define font colours */
.sn-component,
.tag-tree .self .tag-info input.title {
    color: var(--font-primary);
}

/* Border bars removal */
#notes-column .note, .notes .note,
.sn-component .sk-app-bar,
.sn-component .sk-menu-panel .sk-menu-panel-row {
    border: none;
}
#notes-column, .notesv {
    border-left: none;
    border-right:1px solid var(--sn-stylekit-border-color);
}

/* Menu bar backgrounds removal */
#notes-menu-bar > div,
#editor-menu-bar {
    background-color: transparent;
}

/* Add editor bar bottom border */
#editor-menu-bar {
    border-bottom: 1px solid var(--sn-stylekit-border-color);
}

/*
Remove border from folder circles
They're less circular but at least there's no artifacting
*/
.sn-component .sk-circle {
    border: 0px;
}

/* 
--sn-stylekit-success-color: lightblue;
--sn-stylekit-warning-color: red;
--sn-stylekit-danger-color: darkkhaki;
*/